<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
  
    <div class="container no-margin">
  
  
    <div class="flex" style="align-items: center;">
      <!-- Navbar brand -->
      <a class="navbar-brand me-2" href="http://www.laverdadcontinua.com/">
        <img src="../../../assets/img/organizations/La Verdad Continua - Chiquito.svg" height="50"
          alt="Lorenzo Cabrera Blanch" loading="lazy" style="margin-top: -1px;" />
      </a>
  
  
      <!-- Collapsible wrapper -->
  
  
      <!-- Left links -->
  
        <a class="nav-link " href="#" style="flex-basis: content; flex-shrink: 1; flex-grow: 1;">
          <h5 class="text-muted">Lorenzo Cabrera Blanch</h5>
        </a>
        </div>
  
  
  
      <div>
        <!-- Right links -->
        <div class="right-links-nav">
  
          <div class="input-group me-2 ">
            <div class="input-group-text" style="flex-basis: 0%;">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                viewBox="0 0 16 16">
                <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
              </svg>
            </div>
            <input type="text" class="form-control" placeholder="Search" aria-label="Username"
              aria-describedby="basic-addon1">
          </div>
  
  
  
          <button type="button" class="btn btn-primary me-2" style="flex-shrink: 0;">
            Sign up for free
          </button>
  
          <!-- Github Icon  -->
          <a class="btn btn-outline-secondary px-3 me-2" href="https://github.com/LorenBataraza" role="button">
            <i class="bi bi-github navbar-icon" alt="Instagram Lorenzo Cabrera"></i>
          </a>
  
          <!-- Instagram Icon  -->
          <a class="btn btn-outline-secondary data-buttons px-3 me-2"
            href="https://www.instagram.com/lolo_cabrera_/?hl=es-la" role="button">
            <i class="bi bi-instagram navbar-icon" alt="Instagram Lorenzo Cabrera"></i>
          </a>
  
        </div>
  
      </div>
  
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->