<p>header works!</p>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container">
        <!-- Navbar brand -->
        <a class="navbar-brand me-2" href="http://www.laverdadcontinua.com/">
            <img src="../../assets/img/organizations/La Verdad Continua - Chiquito.svg" height="50"
                alt="Lorenzo Cabrera Blanch" loading="lazy" style="margin-top: -1px;" />
        </a>

        <!-- Toggle button
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarButtonsExample"
            aria-controls="navbarButtonsExample" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button> -->

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarButtonsExample">

            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-muted" href="#">Lorenzo Cabrera Blanch</a>
                </li>
            </ul>


            <!-- Right links -->
            <div class="right-links-nav">


                <!-- <div class="input-group-text ">
                    <span class="bi bi-search"  id="basic-addon1" style="margin-right: 5px;"></span>

                    <input type="text" class="form-control" placeholder="Input group example">
                </div> -->

                <div class="input-group mb-3 me-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text bi bi-search" id="basic-addon1"></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Search" aria-label="Username"
                        aria-describedby="basic-addon1">
                </div>


                <button type="button" class="btn btn-primary me-2">
                    Sign up for free
                </button>

                <!-- Github Icon  -->
                <a class="btn btn-outline-secondary px-3 me-2" href="https://github.com/LorenBataraza" role="button">
                    <i class="bi bi-github" alt="Github Lorenzo Cabrera" loading="lazy" width="16"></i>
                    <!-- <img src="../../assets/img/organizations/" alt="Github Lorenzo Cabrera" loading="lazy" width="16" /> -->
                </a>

                <!-- Instagram Icon  -->
                <a class="btn btn-outline-secondary data-buttons px-3 me-2"
                    href="https://www.instagram.com/lolo_cabrera_/?hl=es-la" role="button">
                    <img src="../assets/img/icons/instagram.svg" alt="Instagram Lorenzo Cabrera" loading="lazy"
                        width="16" />
                </a>

            </div>
        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>