
    <div *ngIf="index!== 0">
        <hr>
    </div>

    <div class="flex">

        <div class="skill-title">
            <h5> {{item.title}}</h5>
        </div>

        <div class="progress" >
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                aria-label="Animated striped example" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"
                [ngStyle]="{'width' : percentajeString }">{{item.proficiency}}
            </div>
        </div>

        <div class="icon-group">

            <fa-icon [icon]="editIcon" (click)="toggleSkillEdition()" ></fa-icon>
            <fa-icon [icon]="trashIcon" (click)="DeleteSkill()"></fa-icon>
        </div>
    </div>
