<section>
    <div class="header">
        <h2>
            {{this.sectionTitle}}
        </h2>
    
    <div class="icon-group">
    
        <fa-icon  
            [ngStyle]="{'color': 'var(--bs-blue)'}"
            [icon]= "isExpanded? compressIcon : expandIcon"
            (click)="toggleSection(sectionType,profile)"
        >
        </fa-icon>
    
    </div>
        
    
    </div> 
    
    <div            
    *ngIf="isExpanded"
    [ngSwitch]="sectionType"
    >  
        <p
        *ngSwitchCase="sectionTypesEnum.About"
        >
            {{profile.about}}
        </p>

        <div
        *ngSwitchCase="sectionTypesEnum.Experiences"
        >
            <app-experience-item 
            *ngFor="let item of items; let i = index"
            [item]="item"
            [index]="i"
            (emitDeleteSection)="deleteElement(profile,sectionType ,item)" 
            >
            </app-experience-item>           
        </div>


        <div
        *ngSwitchCase="sectionTypesEnum.Projects"
        >
            <app-project-item 
            *ngFor="let item of items; let i = index"
            [item]="item"
            [index]="i">
            </app-project-item>           
        </div>

        <div
        *ngSwitchCase="sectionTypesEnum.Skills"
        >
            <app-skill-item 
            *ngFor="let item of items; let i = index"
            [item]="item"
            [index]="i">
            </app-skill-item>           
        </div>


        <div class="bottom icon-group">
            <fa-icon 
            class="bottom" 
            [ngStyle]="{'color': 'var(--bs-blue)'}"
            [icon]="trashIcon"
            (click)="emitDeleteSection()"
            >
            </fa-icon>
        </div>
    </div> 
    
    <div
    *ngIf="!isExpanded"
    >
    </div>
    
    </section>
    