:root {
  --spacer: 1rem;
  --background-color: #ddd;
  --border-color: #ee6452;
  --icon-size: 1.3rem;
  --section-color: white;
}

html {
  max-width: 1000px;
  margin: auto;
  background-color: var(--background-color);
}


.body {
  background-color: var(--background-color);
}

p {
  margin: 0 !important;
}

.navbar {
  margin: 0;
  padding: 0;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

img {
  object-fit: contain;
  overflow: clip;
  vertical-align: middle;
  border: #444;
  margin: 1px;
}

i {
  font-size: var(--icon-size) !important;
  cursor: pointer;
}

.nav-icon {
  font-size: var(--icon-size) !important;
}


.banner-div {
  /* padding: -1em; */
  max-height: 300px;
}

/* Avatar Photo */
.avatar {
  vertical-align: middle;
  width: 200px;
  border-radius: 50%;
  box-shadow: 0px 0px 1px 5px #d3d3d3;
}

.top-card-photo {
  margin-top: -100px;
}

.banner {
  max-width: 100%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}


.end {
  align-content: flex-end;
}


.right-links-nav {
  display: flex;
  align-items: center;
}

/* Showing the icon of the Header of a section to the left */
.row>h2>a {
  align-content: flex-end;
}


/* Section Borders*/
section {
  padding: 1em;
  border-radius: 25px;
  border-width: 1px;
  margin: 1em;
  background-color: var(--section-color);
}


hr {
  margin-left: 1% !important;
  margin-right: 1% !important;
}


/* Section Header To The Left */
section>div>h2 {
  margin-left: 3px;
}



/* Header Of Every Section */
div.header {
  display: flex;
  overflow: auto;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}


.icon-group {
  display: flex;
  padding: 0 0;
  justify-content: space-between;
  gap: var(--spacer);
}





.experience-element {
  padding: 10px;
  gap: var(--spacer);
  display: flex;
  flex-wrap: nowraps;
  align-items: stretch;
}

.experience-element div {
  padding: 5px;
}

.experience-element>img {
  flex: 1 1 0%;
  border-radius: 20%;
}

.experience-element>div {
  flex: 1 1 75%;
}



.proyect-element h3 {
  color: cyan;
}





.organization-short {
  display: flex;
  align-content: center;
}


.organization-short>img {
  flex: 1 1 0%;
  min-width: 75px;
  border-radius: 20%;
}


/* Paragraph  */

p {
  margin-bottom: 0.5rem;
}


.organization-short>p {
  flex: 1 1 65%;
}

section p {
  margin-left: 5px;
}

.middle{
  justify-content: center;
}

.progress{
  margin: auto;
  width: 80%;
}

.progress-bar{
  width: 80%;
}

.flex{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.skill-title{
  padding-left: 1rem;
  flex-basis: 18%;
  flex-shrink: 0;
  flex-grow: 1;
}
