
.experience-element {
    padding: 10px;
    gap: var(--spacer);
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
  }
  
  .experience-element {
    padding: 5px;
  }
  
  .experience-image {
    flex: 1 1 25%;
    border-radius: 20%;
    overflow: hidden;
  }
  
  .experience-description {
    flex: 1 1 75%;
  }
  
  
img{
  object-fit: contain;
  flex: 1 1 0%;
  border-radius: 20%;
  overflow: hidden;
  }


h3{
  margin: 0;
}