<div *ngIf="index!== 0">
    <hr>
</div>

<div class="experience-element">
    <div class="experience-image" >
    <img [src]="item.img_path" alt="icon">
    </div>
    
    <div class="experience-description">
        <div class="header">
            <h3>{{item.title}}</h3>

            <div class="icon-group">
                <fa-icon [icon]="editIcon" (click)="toggleEdition()"></fa-icon>

                <fa-icon [icon]="trashIcon" (click)="EmitExperienceDeletion()"></fa-icon>

            </div>

        </div>

        <p>{{item.description}}</p>
        <p class="text-muted"> {{item.interval}}</p>
    </div>
    
</div>