<div class="proyect-element">
    <div class="header">
        <div class="flex">
        <h3 class="proyect-header">{{item.title}}</h3>
        <p class="text-muted">{{item.interval}}</p>
        </div>
        <div class="icon-group">
            <fa-icon [ngStyle]="{'color': 'red'}" [icon]="editIcon" (click)="toggleEdition()"></fa-icon>

            <fa-icon [ngStyle]="{'color': 'red'}" [icon]="trashIcon" (click)="EmitExperienceDeletion()"></fa-icon>
        </div>
    </div>
    <div class="center">
        <p> {{item.description}}</p>
    </div>
</div>