<div>
        <div class="header">
            <h3 class="proyect-header">{{item.title}}</h3>
                <div class="icon-group">
                    <fa-icon  
                    [ngStyle]="{'color': 'red'}"
                    [icon]= "editIcon"
                    (click)="toggleEdition()"
                    ></fa-icon>
    
                    <fa-icon  
                    [ngStyle]="{'color': 'red'}"
                    [icon]= "trashIcon"
                    (click)="EmitExperienceDeletion()"
                    ></fa-icon>
                </div>
        </div>
    <p> {{item.description}}</p>
    <p class="text-muted">{{item.interval}}</p>
</div>